<div class="posts-panel container-fluid">
    <div class="row">
        <div class="col-sm-3 col-xl-12">
            <h1><a href="/articles">ARTICLES</a></h1>
        </div>
    </div>
    <div class="row">
            {% for post in site.data.articles limit:5 %}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 overlayed-tile">
                    <a href="{{post.Type|downcase}}s/{{post.Url}}">
                        <div class="overlayed-tile-padding">
                            <img src="{{post.ThumbnailUrl}}" class="img-fluid" />
                            <div class="overlay"></div>
                            <h2>{{post.Title|upcase}}</h2>
                            <p>{{post.DatePosted|date_to_long_string: "ordinal" }}</p>
                        </div>
                    </a>
                </div>         
            {% endfor %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 view-all-tile">
                <a href="articles">
                    <div class="padding">
                        <img src="/content/images/transparent.png" class="img-fluid" />
                        <div class="view-all-text-overlay">
                            <h2>VIEW ALL</h2>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</div>