<div class="goals-panel container-fluid">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h1><a href="/goals">GOALS</a></h1>
        </div>
        <div class="col-sm-7 panel-description">
            <p>

            </p>
        </div>
    </div>
    <div class="row">
            {% for goal in site.data.goals limit:5 %}  
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 overlayed-tile">
                    <a href="{{goal.Type|downcase}}s/{{goal.Url}}">
                        <div class="overlayed-tile-padding">
                            <img src="{{goal.ThumbnailUrl}}" class="img-fluid" />
                            <div class="overlay"></div>
                            <h2>{{goal.Title|upcase}}</h2>
                            <p>{{goal.DatePosted|date_to_long_string: "ordinal" }}</p>
                        </div>
                    </a>
                </div>     
            {% endfor %}

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2 view-all-tile">
                <a href="goals">
                    <div class="padding">
                        <img src="/content/images/transparent.png" class="img-fluid" />
                        <div class="view-all-text-overlay">
                            <h2>VIEW ALL</h2>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</div>
